<!DOCTYPE html>
<html>
<head>
  <title>JSMpeg Stream Client</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
</head>
<body>
  <script src="{{ static_url('jsmpeg.min.js') }}"></script>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/english.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/bulgarian.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/czech.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/french.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/german.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/hungarian.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/italian.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/polish.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/portuguese.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/russian.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/spanish.ts"></div><br>
  <div class="jsmpeg" data-url="ws://192.168.1.99:8888/live/ukrainian.ts"></div><br>
</body>
</html>
